# ignore fuzzing files & dirs



__pycache__/
*.pyc
*.pyo
*.swp
.codex

projects/*
!projects/download_pqlibs.sh

workspace/build/*
workspace/runs/*
workspace/results/*
workspace/crashes/*
workspace/tmp/*

!workspace/build/.gitkeep
!workspace/runs/.gitkeep
!workspace/results/.gitkeep
!workspace/crashes/.gitkeep
!workspace/tmp/.gitkeep
